
/*
 *       OVERALL
 *    ===============
 **/
html, body, div, p, li, ul, form, fieldset, h1, h2, h3, h4, h5, h6   { margin: 0; padding: 0; list-style: none; }


html, body    { font-family: Metrophobic; height: 100%; width: 100%; }


body a { text-decoration: none; }


.w1200 {
	width: 1200px; 
	margin: 0 auto;
	padding: 0;
	background: #d7d9dc;
}


/*
 *    HEADER  AND TOP
 *    ===============
 **/

.header{
	margin: 0 auto;
	padding: 0;
	height: 93px;

}

#topnav{
	height: 23px;
	padding-bottom: 0px;
	background: url(/img/topnav_bck.png)  0 0 repeat-x;
	border-bottom: 1px white solid;
}

#login{
	float: right;
	margin: 2px 100px 0 0;
	font-size: .9em;
}

#login a{
	text-decoration: none;
	color: #444444;
}

#login a:hover{
	color: #fff;
}

#topmenu{
	height: 70px;
	background: #d7d9dc;
}

.mainMenu{
	position:relative;
	margin: 20px 100px 0 0;
	float: right;
}

.mainMenu ul li{
	position: relative;
	float: left;
	text-decoration: none;
	display: block;
	padding: 5px 15px 0 0;
	text-transform: uppercase;
	font-size: .8em;
	
}

.mainMenu li a {
	text-decoration: none;
	color: #321811;
}

.mainMenu li a:hover {
	color: #ed1c24;
	
}

.mainMenu ul li.active {
	background: url(/img/dots.png) 10px -4px no-repeat;
	
}

.mainMenu ul li ul li:hover {
	background: none;	
}

.mainMenu ul li:hover ul li{
	float: none;
	display: block;
	margin: 5px 8px 5px 0;
	padding: 5px 8px 0 3px;
	color: #890c0b;
	text-transform: none;
	

}
.mainMenu ul li:hover ul{
	border: 1px solid #696;
	padding: 0;
	text-align: left; 
	font-size: 1.2em;
	width: 180px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	background: #f0f3f5;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f0f3f5), to(#f0f3f5));
	background: -moz-linear-gradient(#f0f3f5, #f0f3f5);
	background: linear-gradient(#f0f3f5, #f0f3f5);
	-pie-background: linear-gradient(#f0f3f5, #f0f3f5);
	

}

.mainMenu li.active a {
	color: #ed1c24;
}

.mainMenu ul li ul li{
	float: left;
	text-decoration: none;
	display: none;	
	width: 200px;
}

.mainMenu ul li ul li a{
	padding: 5px 0 0 15px;
	color: #890c0b;
}

.mainMenu ul li ul{
	position:absolute;
	left: -82px;
	top: 22px;

}

.subnav-top{

	/* background: url(/img/subnav_top_bck.png) no-repeat scroll  left top transparent !important; */
}

.subnav-top a{
	color: #890c0b !important;
}

.subnav-top a:hover{
	color: #ed1c24 !important;
}

#subnav-bottom{
	background: url(/img/subnav_bottom_bck.png) no-repeat transparent;
}


#search{
	position: relative;
	margin: 0 0 0 30px;
	padding: 5px 0 0 25px;
	text-transform: none;
	background: url(/img/search_box.png) 0 2px no-repeat;
}

#search span{
	background: url(/img/go_btn.png) 0 -2px  no-repeat;	
	display: block;
	margin: 0 0 0 40px;
	padding:  0 0 0 3px;
	width: 27px;
	height: 25px;
	cursor: pointer;
	float: right;
	color: #ffffff;
	font-size: small;
}

#logo {
	float: left;
	margin: 10px 0 0 100px;

}

#logo span {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	width: 270px;
	height: 50px;
	background: url(/img/logo.png) 0 0 no-repeat;	
}


/*
 *    MAIN CONTENT FOR INDEX
 *    ======================
 **/

#main{
	clear: both;
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	min-height: 500px;
}

#main-top{
	background: url(/img/background.png) 0 -75px scroll;
	min-height: 700px;
}



#main-bottom{
	
	clear:both;
	/*
	background: url(/img/background_bottom.png) no-repeat scroll bottom transparent;
	min-height: 350px;
     */
}



.content {
	width: 1004px;
	min-height: 700px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	background:  url(/img/content_shadow.png) -2px 8px  no-repeat;
}

#content-top{
	margin: 3px 0 0 2.5px;
	padding: 0;
	min-height: 333px;
	background: url(/img/circuit_img.png) top left no-repeat;
}

#snippit{
	float: left;
	width: 333px;
	margin: 150px 0 0 50px;
	padding: 50px 0 0 10px;
	color: #e1e7f5;
	font-size: .8em;
}

#what-we-do{
	text-decoration: none;
	font-weight: bold;
	color: #fecb00;	
	display:block;
}

#what-we-do:hover{
	color: #fae89f;	
}

#what-we-do span{
	float: left;
	background: url(/img/yellow_arrow.png) 5px 4px no-repeat;
	display: block;
	height: 15px;
	width: 15px;
}

#content-bottom{
	margin: 0 auto;
	padding: 0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f2f2f3), to(#b0b0b0));
	background: -moz-linear-gradient(#f2f2f3, #b0b0b0);
	background: linear-gradient(#f2f2f3, #b0b0b0);
	-pie-background: linear-gradient(#f2f2f3, #b0b0b0);
	height: 100%;
	min-height: 365px;
	width: 994px;
}

#left-col{
	float: left;
	width: 680px;
	margin: 0 10px 0 0;
	padding: 30px 0 0 0;

}

#wheel{
	margin: 0 0 0 35px;
	padding: 0;
	float: left;
	width: 250px;
	height: 280px;
	background: url(/img/wheel.png) 0 0 no-repeat;
}

#info{
	margin: 0 auto;
	padding: 0;
	float: right;
	width: 370px;
	color: #494949;
	font-size: .9em;
}

#info h1{
	margin: 0 0 20px 0;
	font-size: 1.7em;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	color: #545454;
	font-weight: normal;
}

#info a{
	padding: 0 0 0 10px;
	position: relative;
	text-decoration: none;
	color: #890c0b;
	display: block;
	font-weight: bold;
}

#info a:hover {
	color: #ed1c24;
}

#info span{
	background: url(/img/red_arrow.png) 2px 5px no-repeat;
	height:20px;
	width:12px;
	display: block;
	border: none;
	float:left;
}

#right-col{
	float: right;
	width: 300px;
	border-left: 1px solid #c3c3c3;
	min-height: 300px;
	height:100%;

}

#recent{
	position: relative;
	margin: 0 auto;
	padding: 30px 8px 0 20px;
}

#recent h1{
	color: #79443f;
	font-size: 1em;
	height: 40px;
	line-height: .5em;

}


#recent span{
	background: url(/img/towerz.png) 0 0 no-repeat;
	height:40px;
	width:40px;
	display: block;
	border: none;
	float:left;	
}

#recent div{
	margin: 0 auto;
	margin-right: 5px;
	padding: 5px 20px 5px 0;
}

#recent  div a{
	color: #a44646;
	text-decoration: none;
	font-size:small;
	text-align: center;
	padding: 0 !important;
	font-weight: normal;
}

#recent  a{
	font-size: .8em;
	padding: 0 0 0 10px;
	color: #a44646;
	text-decoration: none;
	display:block;
	font-weight: bold;
}

#recent  a:hover{
	color: #ed1c24;
}

#recent a span{
	background: url(/img/red_arrow.png) 2px 5px no-repeat;
	height:20px;
	width:12px;
	display: block;
	border: none;
	float:left;
	
}

#recent div p{
	margin: 0 0 0 5px;
	font-size: .6em;
	color: #7c7c7d;
}


/*
 *    MAIN CONTENT FOR INNER 2nd PAGE
 *    ===============================
 **/

#inner-content-top{
	margin: 5px 0 0 3px;
	padding: 0;
	min-height: 70px;
	background: url(/img/circuit_img.png) top left no-repeat;
}

#page-name{
	float: left;
	margin: 0px 0 0 20px;
	color: #fff;
	font-size: .8em;
}

#page-name h1{
	padding: 8px 0;
	font-weight: normal;
	font-size: 2em;
}
 
 
 #inner-content-bottom{
	margin: 0 auto;
	padding: 0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#edeeef), to(#cacaca));
	background: -moz-linear-gradient(#edeeef, #cacaca);
	background: linear-gradient(#edeeef, #cacaca);
	-pie-background: linear-gradient(#edeeef, #cacaca);
	width: 996px;
	min-height: 720px;
	height: 100%;
}

#inner-pic{
	margin: 10px 0 10px 20px;
	float: right;
	height: 230px;
	width: 420px;
	background: url(/img/inner-pic.png) 0 0 no-repeat;
}

#inner-pic div{
	margin: 210px 15px 0 0;
	padding: 0;
	font-size: .6em;
	color: #6a6a6a;
	text-align:center;
}

#inner-info{
	margin: 10px 20px 40px 20px;
	color: #717172;
	font-size: .8em;
	line-height: 1.7em;
}

#inner-info h1{
	font-weight: normal;
	font-size: 1.8em;
	color: #7e7e7e;
	padding: 0 0 10px 0;
	margin: 0 auto;
}

 

/*
 *       SIDEBAR
 *    ===============
 **/
 
#sidebar{

} 

#sidebar h1{
	font-weight: normal;
	font-size: 1.5em;
	color: #5a5c5e;
	text-align: center;
	border-bottom: 1px solid #bebbbb;
	padding: 10px 10px 20px 10px;;
}

#sidebar ul{
	text-decoration: none;
}

#sidebar ul li{
	margin: 0 auto;
	padding: 8px;
	border-bottom: 1px solid #bebbbb;
	/* border-image: url(/img/overlap_line.png) 0 0 no-repeat; */
	
}

#sidebar ul li a{
	margin: 0 auto;
	padding: 10px 5px 10px 20px;
	color: #818283;
}

#sidebar ul li a:hover{
	color: #ed1c24;	
}
 
#links{
	position: relative;
	margin: 0 auto;
	padding: 40px 8px 0 20px;
}

#links h2{
	font-weight: normal;
	font-size: 1.3em;
	color: #b5b5b8;
	padding: 0 0 10px 0;
}

#links div{
	padding: 10px 0;
}


#links div a{
	color: #a44646;
	text-decoration: none;
	font-size: .9em;
	text-align: center;
	padding: 0 10px 0 0;
	font-weight: normal;
}

#links div a:hover{
	color: #ed1c24;
}

#links p{
	font-size: .8em;
	padding: 5px 25px 40px 0;
	color: #abadae;
}

#grey-arrow{
	position: absolute;
	right: 290px;
	top: 45px;
}
 
 
 


/*
 *       FOOTER
 *    ===============
 **/

 
#footer{
	clear: both;
	min-height: 50px;
	background: url(/img/footer_bck.png) bottom repeat-x;
}  

#footer a{
	color: #5f5f5f;

}

#footer a:hover{
	color: #fff;

} 

#footer p{
	padding: 15px 0 0 0;
	text-align:center;
	color: #5f5f5f;
	font-size: .9em;
}